<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="./css/index.css">
    </head>
    <body>
        <div class="wrap">
            <div class="login-form center">
                <form action="/login" method="post">
                    <h1 class="login-form-title">I am Robot!</h1>
                    <div>
                        <input type="text" class="login-form-input" name="id" placeholder="아이디" />
                    </div>
                    <div>
                        <input type="password" class="login-form-input" name="password" placeholder="비밀번호" />
                    </div>
                    <div style="margin-top: 10px">
                        <input type="checkbox" name="" id="rembmer-user" />
                        <label for="rembmer-user" style="user-select: none">로그인 유지하기</label>
                    </div>
                    <%= user.name %>
                    <button class="login-form-submit">로그인</button>
                    <a href="/registry">회원가입</a>
                    <a href="/logout">로그아웃</a>
                </form>
            </div>
        </div>
    </body>
</html>
